.catalogo {
    width: 68%;
    position: absolute;
    right: 20px;
    top: 90px;
}

h2 {
    text-align: center;
}

.getAlbums {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    background-color: blanchedalmond;
    margin: 20px;
    border-radius: 5px;
    width: 240px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.cover {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}