.logo{
    width: 70px;
    height: 70px;
    padding: 10px;
    margin-bottom: 10px;
}
.header{
    background-color: #ffd695;
    width: 410px;
    height: 680px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    
}
.containerLogo{
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(114, 38, 5);
    font-size: xx-large;
}

nav{
    background-color: #fff193;
    color: rgb(114, 38, 5);
    width: 360px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 10px;
    gap: 30px;
    /* box-shadow: 0 0 10px #fff193, 0 0 20px #fff193, 0 0 60px #fff193; */
    
}

nav a{
    display: flex;
    margin-left: 25px;
    gap: 30px;
    text-decoration: none;
    color: rgb(114, 38, 5);
}
.search{
    margin-right: 10px;
    border: none;
    background: none;
}
.activate-search{
    display: flex;
}
.br{
    
}