body{
  font-family: sans-serif;
  font-weight: 900;
  font-size: larger;
  
  background-image: linear-gradient(to right, #ffe561 0%, #ff8b7e 100%);
}

a .btn1{
  color: white;
  display: flex;
  text-decoration: none;
  flex-direction: column;
}



#catalogo{
  color: aqua;
}

a .btn1:hover{
  color: rgb(255, 205, 232);
  transition: 0.3s;
}